extends layout

block content
  h1 About
  p 
  h2 What? 
  p Promoting indigenous plants, pavement removal, and green infrastructure for sustainable water management in New Orleans.
  h2 Why? 
  p Water management is important because XYZ.
  h2 How? 
  p Want to get involved / learn more? Check out XYZ.
  h2 Who? 
  p Creators: XYZ w/ contact info and relevant handles

  block customScripts
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/testio.js")
  
