extends layout

block content
  div.imgtile
    img(src="images/og.jpg")
  div.jumbotron
    div.row
      div.col-lg.text-center
        h1 Plant dat!
        p Avert flooding by spawning a native plant in the Lucky Hotel!
        a(href="/spawn")
          button(type="submit" class="btn btn-success") Plant!
  p Want to get more involved? <a href="/plot">Claim a plot!</a> 
