extends layout

block content
  include includes/plantCard.pug
  div.swiper-container
    div.swiper-wrapper
      for plant in plantTypes
        div.swiper-slide 
          +plantCard(plant)
    div.swiper-pagination
  
      
//- 
block customScripts  
  script(type="text/javascript" src="../javascripts/swiper.min.js")
  script(type="text/javascript" src="../javascripts/swiperstart.js")
